* {
  --primary-color: #262626;
  --primary-text: #ffffff;
  --secondary-color: #9a8a78;
}
body {
  background-color: var(--primary-color);
}
.header {
  background-image: url(anthill12.jpeg);
}
